---
import Layout from "@/layouts/Base";
import SocialMediaLinks from "@/components/SocialMediaLinks";
---

<Layout
	title="About Me"
	description="About me;wjwei;wenjie wei;weiwenjie"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About me</h1>
	<p>
	Wenjie Wei
	</p>
	<p>
	魏文杰
	</p>


	<h1 class="title mt-2">Educations</h1>
	<ul class="list-inside list-disc">
		<li>2017-2021, B.S in HZAU, Plant Science and Technology </li>
		<li>2021-2024, M.S in HZAU, Crop Genetics and Breeding (<a
			class="cody-link inline-block"
			href="http://maizego.org/"
			target="_blank"
			rel="noopener noreferrer"
		>
		YanLab
		</a>)
		</li>
		<li>2024-Now, Ph.D in Westlake University, Life science (<a
			class="cody-link inline-block"
			href="https://yanglab.westlake.edu.cn/"
			target="_blank"
			rel="noopener noreferrer"
		>
		YangLab
		</a>)
		</li>
	</ul>
	<h1 class="title mt-2">Research Interest:</h1>
	   <ul class="list-inside list-disc">
			<li>Graph Pan-genome Methodology</li>
			<li>Complex Trait ~ Multi Omics</li>
			<li>High performance tools development</li>

		</ul>
	<h1 class="title mt-2">I'm contributing to the community:</h1>
	<img src="https://github-readme-stats.vercel.app/api?username=wjwei-handsome&include_all_commits=false&theme=swift&show_icons=true&count_private=true&include_orgs=true" alt="">

	<h1 class="title mt-2">Which language I prefer:</h1>
	<img src="https://github-readme-stats.vercel.app/api/top-langs/?username=wjwei-handsome&layout=compact&theme=swift" alt="">

	<hr />
    <div>
    <span>You can find me in:</span>
        <SocialMediaLinks />
    </div>
</Layout>
